
<div data-controller="cuestionario">
  <%= simple_form_for(@cuestionario, input_html:{novalidate: true, "data-target" => "cuestionario.form","data-action"=>"ajax:beforeSend->form#submitForm", local: false}) do |f| %>
    <div class="text-lg-start form-inputs p-3">
      <h2 class="pb-1 pt-3">Información general</h2>
      <hr class="pb-1" color="#013220"/>
      <div id="email">
        <h3 class="pb-1 pt-3">
          <span class="material-symbols-outlined p-1"> mail </span>
          Correo electrónico*
        </h3>
        <%= f.input :email, required: true,
                    label: false,
                    placeholder: "juanperez@gmail.com",
                    input_html: {"data-target":"cuestionario.questions"}

        %>

      </div>

      <div  id="nombre">
        <h3 class="pb-1 pt-3">
          <span class="material-symbols-outlined p-1"> face </span>
          Nombre (opcional)
        </h3>
        <%= f.input :nombre,
                    label: false,
                    placeholder: "Nombre"
        %>
      </div>

      <div id="edad">
        <h3 class="pb-1 pt-3">
          <span class="material-symbols-outlined p-1"> sentiment_satisfied </span>
          Edad
        </h3>
        <%= f.input :edad,required: true,
                    label: false,
                    placeholder: "14"
        %>
      </div>

      <div id="sexo">
        <h3 class="pb-1 pt-3">
          <span class="material-symbols-outlined p-1"> diversity_3 </span>
          Sexo
        </h3>
        <%= f.input :sexo,
                    label: false,
                    as: :radio_buttons,
                    collection: [['femenino', 'Femenino'],['masculino', 'Masculino']],
                    label_method: :second,
                    value_method: :first,
                    item_wrapper_class: "btn btn-outline-dark btn-group px-2 mx-2"
        %>
      </div>

      <div  id="escolaridad">
        <div class="form_radio-group">
          <h3 class="pb-1 pt-3">
            <span class="material-symbols-outlined p-1"> school </span>
            Escolaridad
          </h3>
          <%= f.input :escolaridad, required: true,
                      as: :radio_buttons,
                      collection: [['Primaria', 'Primaria'], ['Secundaria', 'Secundaria'], ['Preparatoria', 'Preparatoria'], ['Universidad', 'Universidad'], ['Postgrado', 'Postgrado']],
                      label_method: :second,
                      value_method: :first,
                      item_wrapper_class: "btn btn-outline-dark btn-group px-2 m-1"
          %>
        </div>
      </div>

      <div  id="pais">
        <h3 class="pb-1 pt-3">
          <span class="material-symbols-outlined p-1"> flag </span>
          Dónde vives
        </h3>
        <hr class="pb-1" color="#013220"/>
        <div class="d-flex justify-content-around">
          <%= f.input :pais,
                      label: false,
                      collection: ["Afganistan", "Alemania", "Argelia", "Argentina", "Australia", "Austria", "Azerbaiyán", "Bahamas", "Bangladesh", "Barbados", "Bielorrusia", "Brasil", "Bulgaria", "Burundi", "Burundi", "Bélgica", "Canadá", "Chile", "China", "Chipre", "Corea", "Costa Rica", "Croacia", "Dinamarca", "Dominica", "Egipto", "Eslovaquia", "Eslovenia", "España", "Finlandia", "Fiyi", "Grecia", "Indonesia", "Irak", "Irlanda", "Italia", "Japón", "Las Maldivas", "Letonia", "Lituania", "Líbano", "Malaui", "Malta", "Marruecos", "Mauricio", "Mongolia", "Mozambique", "México", "Nigeria", "Pakistan", "Portugal", "Reino Unido", "Rep Dem Congo", "Rumanía", "Rusia", "Santa Lucia", "Seychelles", "Sierra Leona", "Sudán del Sur", "Suecia", "Suiza", "Tailandia", "Turquía", "USA", "Ucrania", "Zimbabue"],
                      selected:["México"]
          %>
          <%= f.input :ciudad,
                      label: false,
                      placeholder: "Ciudad"
          %>
        </div>
      </div>

      <div  id="localidad">
        <h3 class="pb-1 pt-3">
          <span class="material-symbols-outlined p-1"> home </span>
          Localidad
        </h3>
        <%= f.input :localidad, required: true,
                    as: :radio_buttons,
                    collection: [['Rural', 'Rural'], ['Urbana', 'Urbana']],
                    label_method: :second,
                    value_method: :first,
                    label: false,
                    item_wrapper_class: "btn btn-outline-dark btn-group px-2 mx-2"
        %>
      </div>

      <div  id="peso">
        <h2 class="pb-1 pt-3">Salud</h2>
        <hr class="pb-1" color="#013220"/>
        <h3 class="pb-1 pt-3">
          <span class="material-symbols-outlined p-1"> emoji_people </span>
          Tu complexión
        </h3>
        <div class="d-flex justify-content-around">
          <%= f.input :peso,
                      label: false,
                      placeholder: "Peso kg (70)"

          %>
          <%= f.input :altura,
                      label: false,
                      placeholder: "Estatura m (1.60)"
          %>
        </div>
      </div>

      <div id="alimentacion_sana">
        <h3 class="pb-1 pt-3">
          <span class="material-symbols-outlined p-1"> spa </span>
          ¿Crees que tu alimentación es sana?
        </h3>
        <%= f.input :alimentacion_sana, required: true,
                    as: :radio_buttons,
                    collection: [['Si', 'Si'], ['No', 'No'], ['No se', 'No se']],
                    label_method: :second,
                    value_method: :first,
                    item_wrapper_class: "btn btn-outline-dark btn-group px-2 mx-2"
        %>
      </div>

      <div  id="alimentacion_dana_ambiente">
        <h3 class="pb-1 pt-3">
          <span class="material-symbols-outlined p-1"> grass </span>
          ¿Cuánto consideras que tu alimentación daña el medio ambiente?
        </h3>
        <%= f.input :alimentacion_dana_ambiente,
                    as: :radio_buttons, required: true,
                    collection: [['Nada', 'Nada'], ['Poco', 'Poco'], ['Mucho', 'Mucho'], ['No se', 'No se']],
                    label_method: :second,
                    value_method: :first,
                    item_wrapper_class: "btn btn-outline-dark btn-group px-2 mx-2"
        %>
      </div>

      <div  id="persona_actividad">
        <h3 class="pb-1 pt-3">
          <span class="material-symbols-outlined p-1"> directions_run </span>
          ¿Te consideras una persona?
        </h3>
        <%= f.input :persona_actividad, required: true,
                    label: "¿Te consideras una persona?",
                    as: :radio_buttons,
                    collection: [['Sedentaria', 'Sedentaria'], ['Fisicamente activa', 'Fisicamente activa'], ['Deportista', 'Deportista']],
                    label_method: :second,
                    value_method: :first,
                    item_wrapper_class: "btn btn-outline-dark btn-group px-2 m-2"
        %>

      </div>

      <div  id="actividad_fisica">
        <h3 class="pb-1 pt-3">
          <span class="material-symbols-outlined p-1"> directions_bike </span>
          ¿Con qué frecuencia realizas actividad física a la semana?
        </h3>
        <%= f.input :actividad_fisica, required: true,
                    as: :radio_buttons,
                    collection: [[0, 'Ninguna'], [1, 'Una vez'], [2, '2-3 veces'], [3, '4-5 veces'], [4, 'Diario']],
                    label_method: :second,
                    value_method: :first,
                    item_wrapper_class: "btn btn-outline-dark btn-group px-2 m-2"
        %>
      </div>

      <div  id="padecimientos">
        <h3 class="pb-1 pt-3">
          <span class="material-symbols-outlined p-1"> medical_information </span>
          Padeces...
        </h3>
        <h5 class="text-md-start pb-1 pt-3">Sobrepeso</h5>
        <div class="d-flex justify-content-md-start">
          <%= f.input :sobrepeso, required: true,
                      as: :radio_buttons,
                      collection: [['Si', 'Si'], ['No', 'No'], ['No se', 'No se']],
                      label_method: :second,
                      value_method: :first,
                      item_wrapper_class: "btn btn-outline-dark btn-group px-2 mx-2"
          %>
        </div>
        <h5 class="text-md-start pb-1 pt-3">Obesidad</h5>
        <div class="d-flex justify-content-md-start">
          <%= f.input :obesidad, required: true,
                      as: :radio_buttons,
                      collection: [['Si', 'Si'], ['No', 'No'], ['No se', 'No se']],
                      label_method: :second,
                      value_method: :first,
                      item_wrapper_class: "btn btn-outline-dark btn-group px-2 mx-2"
          %>
        </div>
        <h5 class="text-md-start pb-1 pt-3">Hipertensión</h5>
        <div class="d-flex justify-content-md-start">
          <%= f.input :hipertension, required: true,
                      as: :radio_buttons,
                      collection: [['Si', 'Si'], ['No', 'No'], ['No se', 'No se']],
                      label_method: :second,
                      value_method: :first,
                      item_wrapper_class: "btn btn-outline-dark btn-group px-2 mx-2"
          %>
        </div>
        <h5 class="text-md-start pb-1 pt-3">Colesterol</h5>
        <div class="d-flex justify-content-md-start">
          <%= f.input :colesterol, required: true,
                      as: :radio_buttons,
                      collection: [['Si', 'Si'], ['No', 'No'], ['No se', 'No se']],
                      label_method: :second,
                      value_method: :first,
                      item_wrapper_class: "btn btn-outline-dark btn-group px-2 mx-2"
          %>
        </div>
        <h5 class="text-md-start pb-1 pt-3">Trigliceridos</h5>
        <div class="d-flex justify-content-md-start">
          <%= f.input :trigliceridos, required: true,
                      as: :radio_buttons,
                      collection: [['Si', 'Si'], ['No', 'No'], ['No se', 'No se']],
                      label_method: :second,
                      value_method: :first,
                      item_wrapper_class: "btn btn-outline-dark btn-group px-2 mx-2"
          %>
        </div>
        <h5 class="text-md-start pb-1 pt-3">Diabetes</h5>
        <div class="d-flex justify-content-md-start">
          <%= f.input :diabetes, required: true,
                      as: :radio_buttons,
                      collection: [['Si', 'Si'], ['No', 'No'], ['No se', 'No se']],
                      label_method: :second,
                      value_method: :first,
                      item_wrapper_class: "btn btn-outline-dark btn-group px-2 mx-2"
          %>
        </div>
      </div>

      <div id="diabetes" >
        <div>
          <h5 class="text-md-start pb-1 pt-3">¿Te han detectado alguna vez niveles altos de glucosa en sangre?</h5>
          <div class="d-flex justify-content-md-start">
            <%= f.input :glucosa, required: true,
                        as: :radio_buttons,
                        collection: [['Si', 'Si'], ['No', 'No'], ['No se', 'No se']],
                        label_method: :second,
                        value_method: :first,
                        item_wrapper_class: "btn btn-outline-dark btn-group px-2 mx-2"
            %>
          </div>
        </div>
        <div>
          <h5 class="text-md-start pb-1 pt-3">¿Ha habido algún diagnóstico de diabetes mellitus en tu familia?</h5>
          <div class="d-flex justify-content-md-start">
            <%= f.input :diabetes_familia, required: true,
                        as: :radio_buttons,
                        collection: [['Si', 'Si'], ['No', 'No'], ['No se', 'No se']],
                        label_method: :second,
                        value_method: :first,
                        item_wrapper_class: "btn btn-outline-dark btn-group px-2 mx-2"
            %>
          </div>
        </div>
        <div>
          <h5 class="text-md-start pb-1 pt-3">Marca si has presentado alguno de los siguientes síntomas en el último mes</h5>
          <div class="d-flex flex-column justify-content-start align-items-start">
            <%= f.input :necesidad_orinar, label: "Necesidad de orinar con frecuencia"%>
            <%= f.input :perdida_peso, label: "Perdida de peso inexplicable" %>
            <%= f.input :sed_excesiva %>
            <%= f.input :hambre_excesiva %>
            <%#= f.input :diabetes_sintomas, label: "¿Ha presentado alguno de los siguientes síntomas en el último mes?", as: :check_boxes, collection: [['Necesidad de orinar con frecuencia', 'Necesidad de orinar con frecuencia'], ['Perdida de peso inexplicable', 'Perdida de peso inexplicable'], ['Sed excesiva', 'Sed excesiva'], ['Hambre excesiva', 'Hambre excesiva']] %>
          </div>
        </div>
      </div>

      <div  id="dieta">
        <h2 class="pb-1 pt-3">Alimentación</h2>
        <hr class="pb-1" color="#013220"/>
        <%= image_tag "veggies.png", class: "dieta-pic" %>
        <h3 class="pb-1 pt-3">Tus preferencias alimentarias</h3>
        <%= f.input :dieta, required: true,
                    as: :radio_buttons,
                    collection: [['Vegetariana estricta', 'Vegetariana estricta'], ['Lactovegetarianas', 'Lactovegetarianas'], ['Lactoovovegetarianas', 'Lactoovovegetarianas'], ['Omnívoras (me alimento de plantas y animales)', 'Omnívoras (me alimento de plantas y animales)']],
                    label_method: :second,
                    value_method: :first,
                    item_wrapper_class: "btn btn-outline-dark btn-group px-2 m-2"
        %>

      </div>

      <div  id="alimentos">
        <%= image_tag "packages.png", class: "dieta-pic" %>
        <h3 class="pb-1 pt-3">¿Dónde compras generalmente tus alimentos?</h3>
        <h5 class="text-md-start pb-1 pt-3">Vegetales</h5>
        <div class="d-flex justify-content-md-start">
          <%= f.input :origen_vegetales, required: true,
                      as: :radio_buttons,
                      collection: [['no consumo', 'No consumo'], ['organico', 'Mercado / tianguis'], ['intensivo', 'Supermercados']],
                      label_method: :second,
                      value_method: :first,
                      item_wrapper_class: "btn btn-outline-dark btn-group px-2 m-2"
          %>
        </div>
        <!-- compras frutas -->
        <div id="compras-frutas" >
          <h5 class="text-md-start pb-1 pt-3">Frutas</h5>
          <div class="d-flex justify-content-md-start">
            <%= f.input :origen_frutas, required: true,
                        as: :radio_buttons,
                        collection: [['no consumo', 'No consumo'], ['organico', 'Mercado / tianguis'], ['intensivo', 'Supermercados']],
                        label_method: :second,
                        value_method: :first,
                        item_wrapper_class: "btn btn-outline-dark btn-group px-2 m-2"
            %>
          </div>
        </div>
        <!-- compras carne -->
        <div id="compras-carne" >
          <h5 class="text-md-start pb-1 pt-3">Carne</h5>
          <div class="d-flex justify-content-md-start">
            <%= f.input :origen_carne, required: true,
                        as: :radio_buttons,
                        collection: [['no consumo', 'No consumo'], ['organico', 'Mercado / tianguis'], ['intensivo', 'Supermercados']],
                        label_method: :second,
                        value_method: :first,
                        item_wrapper_class: "btn btn-outline-dark btn-group px-2 m-2"
            %>
          </div>
        </div>
        <!-- compras leche -->
        <div id="compras-leche" >
          <h5 class="text-md-start pb-1 pt-3">Leche</h5>
          <div class="d-flex justify-content-md-start">
            <%= f.input :origen_leche, required: true,
                        as: :radio_buttons,
                        collection: [['no consumo', 'No consumo'], ['organico', 'Mercado / tianguis'], ['intensivo', 'Supermercados']],
                        label_method: :second,
                        value_method: :first,
                        item_wrapper_class: "btn btn-outline-dark btn-group px-2 m-2"
            %>
          </div>
        </div>
        <!-- compras cereales -->
        <div id="compras-cereales" >
          <h5 class="text-md-start pb-1 pt-3">Cereales (tortilla, arroz, avena)</h5>
          <div class="d-flex justify-content-md-start">
            <%= f.input :origen_cereales, required: true,
                        as: :radio_buttons,
                        collection: [['no consumo', 'No consumo'], ['organico', 'Mercado / tianguis'], ['intensivo', 'Supermercados']],
                        label_method: :second,
                        value_method: :first,
                        item_wrapper_class: "btn btn-outline-dark btn-group px-2 m-2"
            %>
          </div>
        </div>
      </div>

      <div  id="frecuencia-alimentos">
        <%= image_tag "animal.png", class: "dieta-pic" %>
        <h3 class="pb-1 pt-3">¿Cuántas veces por semana consumes los siguientes alimentos?</h3>
        <!-- res -->
        <h5 class="text-md-start pb-1 pt-3">Carne de res</h5>
        <div class="d-flex justify-content-md-start">
          <%= f.input :frecuencia_res, required: true,
                      as: :radio_buttons,
                      collection: [[0.0, '0'], [1.0, '1'], [2.5, '2-3'], [4.5, '4-5'], [7.0, '7'], [0.25, '1 vez al mes']],
                      label_method: :second,
                      value_method: :first,
                      item_wrapper_class: "btn btn-outline-dark btn-group px-2 m-2"
          %>
        </div>


        <!-- puerco -->
        <div id="frecuencia-puerco" >
          <h5 class="text-md-start pb-1 pt-3">Carne de puerco</h5>
          <div class="d-flex justify-content-md-start">
            <%= f.input :frecuencia_puerco, required: true,
                        as: :radio_buttons,
                        collection: [[0.0, '0'], [1.0, '1'], [2.5, '2-3'], [4.5, '4-5'], [7.0, '7'], [0.25, '1 vez al mes']],
                        label_method: :second,
                        value_method: :first,
                        item_wrapper_class: "btn btn-outline-dark btn-group px-2 m-2"
            %>
          </div>
        </div>
        <!-- borrego -->
        <div id="frecuencia-borrego" >
          <h5 class="text-md-start pb-1 pt-3">Carne de borrego</h5>
          <div class="d-flex justify-content-md-start">
            <%= f.input :frecuencia_borrego, required: true,
                        as: :radio_buttons,
                        collection: [[0.0, '0'], [1.0, '1'], [2.5, '2-3'], [4.5, '4-5'], [7.0, '7'], [0.25, '1 vez al mes']],
                        label_method: :second,
                        value_method: :first,
                        item_wrapper_class: "btn btn-outline-dark btn-group px-2 m-2"
            %>
          </div>
        </div>
        <!-- pollo -->
        <div id="frecuencia-pollo" >
          <h5 class="text-md-start pb-1 pt-3">Pollo</h5>
          <div class="d-flex justify-content-md-start">
            <%= f.input :frecuencia_pollo, required: true,
                        as: :radio_buttons,
                        collection: [[0.0, '0'], [1.0, '1'], [2.5, '2-3'], [4.5, '4-5'], [7.0, '7'], [0.25, '1 vez al mes']],
                        label_method: :second,
                        value_method: :first,
                        item_wrapper_class: "btn btn-outline-dark btn-group px-2 m-2"
            %>
          </div>
        </div>
        <!-- salmón -->
        <div id="frecuencia-salmon" >
          <h5 class="text-md-start pb-1 pt-3">Salmón</h5>
          <div class="d-flex justify-content-md-start">
            <%= f.input :frecuencia_salmon, required: true,
                        as: :radio_buttons,
                        collection: [[0.0, '0'], [1.0, '1'], [2.5, '2-3'], [4.5, '4-5'], [7.0, '7'], [0.25, '1 vez al mes']],
                        label_method: :second,
                        value_method: :first,
                        item_wrapper_class: "btn btn-outline-dark btn-group px-2 m-2"
            %>
          </div>
        </div>
        <!-- atún -->
        <div id="frecuencia-atun" >
          <h5 class="text-md-start pb-1 pt-3">Atún enlatado</h5>
          <div class="d-flex justify-content-md-start">
            <%= f.input :frecuencia_atun, required: true,
                        as: :radio_buttons, collection: [[0.0, '0'], [1.0, '1'], [2.5, '2-3'], [4.5, '4-5'], [7.0, '7'], [0.25, '1 vez al mes']],
                        label_method: :second,
                        value_method: :first,
                        item_wrapper_class: "btn btn-outline-dark btn-group px-2 m-2"
            %>
          </div>
        </div>
        <!-- leche -->
        <div id="frecuencia-leche" >
          <h5 class="text-md-start pb-1 pt-3">Leche de vaca</h5>
          <div class="d-flex justify-content-md-start">
            <%= f.input :frecuencia_leche,required: true,
                        as: :radio_buttons,
                        collection: [[0.0, '0'], [1.0, '1'], [2.5, '2-3'], [4.5, '4-5'], [7.0, '7'], [0.25, '1 vez al mes']],
                        label_method: :second,
                        value_method: :first,
                        item_wrapper_class: "btn btn-outline-dark btn-group px-2 m-2"
            %>
          </div>
        </div>
        <!-- queso -->
        <div id="frecuencia-queso" >
          <h5 class="text-md-start pb-1 pt-3">Queso</h5>
          <div class="d-flex justify-content-md-start">
            <%= f.input :frecuencia_queso,required: true,
                        as: :radio_buttons,
                        collection: [[0.0, '0'], [1.0, '1'], [2.5, '2-3'], [4.5, '4-5'], [7.0, '7'], [0.25, '1 vez al mes']],
                        label_method: :second,
                        value_method: :first,
                        item_wrapper_class: "btn btn-outline-dark btn-group px-2 m-2"
            %>
          </div>

        </div>
        <!-- yogurt -->
        <div id="frecuencia-yogurt" >
          <h5 class="text-md-start pb-1 pt-3">Yogurt</h5>
          <div class="d-flex justify-content-md-start">
            <%= f.input :frecuencia_yogurt, required: true,
                        as: :radio_buttons,
                        collection: [[0.0, '0'], [1.0, '1'], [2.5, '2-3'], [4.5, '4-5'], [7.0, '7'], [0.25, '1 vez al mes']],
                        label_method: :second,
                        value_method: :first,
                        item_wrapper_class: "btn btn-outline-dark btn-group px-2 m-2"
            %>
          </div>
        </div>
        <!-- pescado -->
        <div id="frecuencia-pescados"  data-controller="dynamicviews" data-dynamicviews-hidefish-value="0.0">
          <h5 class="text-md-start pb-1 pt-3">Pescados y mariscos</h5>
          <div class="d-flex justify-content-md-start">
            <%= f.input :frecuencia_pescados_mariscos,required: true,
                        as: :radio_buttons,
                        collection: [[0.0, '0'], [1.0, '1'], [2.5, '2-3'], [4.5, '4-5'], [7.0, '7'], [0.25, '1 vez al mes']],
                        label_method: :second,
                        value_method: :first,
                        item_wrapper_class: "btn btn-outline-dark btn-group px-2 m-2",
                        input_html:{data:{dynamicviews_target:"fishfrequency", action:"change->dynamicviews#toggle"}}

            %>
          </div>
          <div data-dynamicviews-target="fishgroup">
            <h5 class="text-md-start pb-1 pt-3">Si comes pescados y mariscos, elige la opción que más consumas</h5>
            <div class="d-flex justify-content-md-start">
              <%= f.input :valores_pescados_mariscos,
                          as: :radio_buttons,
                          collection: [["uno", 'charales - huauchinango - cazón - sierra - bacalo - trucha'], ["dos", 'camarón - sierra - merluza '], ["tres", 'sardinas - arenques - abadejo - carpa - lubina']],
                          label_method: :second,
                          value_method: :first,
                          item_wrapper_class: "btn btn-outline-dark btn-group px-2 m-2",
                          :checked=>["uno",'charales - huauchinango - cazón - sierra - bacalo - trucha']
              %>
            </div>
          </div>

        </div>


        <!-- huevo -->
        <div id="frecuencia-huevo" >
          <h5 class="text-md-start pb-1 pt-3">Huevo</h5>
          <div class="d-flex justify-content-md-start">
            <%= f.input :frecuencia_huevo,required: true,
                        as: :radio_buttons,
                        collection: [[0.0, '0'], [1.0, '1'], [2.5, '2-3'], [4.5, '4-5'], [7.0, '7'], [0.25, '1 vez al mes']],
                        label_method: :second,
                        value_method: :first,
                        item_wrapper_class: "btn btn-outline-dark btn-group p-2 m-2"
            %>
          </div>
        </div>
        <div id="huevos" >
          <h5 class="text-md-start pb-1 pt-3">¿Cuántos huevos consumes en un día?</h5>
          <%= f.input :cantidad_huevo,required: true,
                      label: false,
                      collection: 0..10,
                      placeholder: "|..."
          %>
        </div>
      </div>

      <div  id="frutas-verduras">
        <!-- vegetales -->
        <%= image_tag "veg.png", class: "dieta-pic" %>
        <h5 class="text-md-start pb-1 pt-3">Vegetales</h5>
        <div class="d-flex justify-content-md-start">
          <%= f.input :frecuencia_vegetales,required: true,
                      as: :radio_buttons,
                      collection: [[0.0, '0'], [1.0, '1'], [2.5, '2-3'], [4.5, '4-5'], [7.0, '7']],
                      label_method: :second,
                      value_method: :first,
                      item_wrapper_class: "btn btn-outline-dark btn-group p-2 m-2"
          %>
        </div>

        <div id="verduras" >
          <h5 class="text-md-start pb-1 pt-3">¿Cuántos vegetales consumes en un día?</h5>
          <%= f.input :cantidad_vegetales, required: true,
                      label: false,
                      collection: 0..10,
                      selected: [0]
          %>
        </div>


        <!-- fruta -->
        <div id="frecuencia-fruta" >
          <h5 class="text-md-start pb-1 pt-3">Fruta</h5>
          <div class="d-flex justify-content-md-start">
            <%= f.input :frecuencia_fruta, required: true,
                        as: :radio_buttons,
                        collection: [[0.0, '0'], [1.0, '1'], [2.5, '2-3'], [4.5, '4-5'], [7.0, '7']],
                        label_method: :second,
                        value_method: :first,
                        item_wrapper_class: "btn btn-outline-dark btn-group p-2 m-2"
            %>
          </div>
        </div>

        <div id="frutas" >
          <h5 class="text-md-start pb-1 pt-3">¿Cuántas frutas consumes en un día?</h5>
          <%= f.input :cantidad_fruta, required: true,
                      label: false,
                      collection: (1..10),
                      selected:[0]
          %>
        </div>
      </div>

      <div  id="arroz">
        <!-- arroz -->
        <%= image_tag "leguminosas.png", class: "dieta-pic" %>
        <h5 class="text-md-start pb-1 pt-3">Arroz</h5>
        <div class="d-flex justify-content-md-start">
          <%= f.input :frecuencia_arroz, required: true,
                      as: :radio_buttons,
                      collection: [[0.0, '0'], [1.0, '1'], [2.5, '2-3'], [4.5, '4-5'], [7.0, '7']],
                      label_method: :second,
                      value_method: :first,
                      item_wrapper_class: "btn btn-outline-dark btn-group px-2 m-2"
          %>
        </div>
      </div>

      <!-- leguminosas -->
      <div id="leguminosas" >
        <h5 class="text-md-start pb-1 pt-3">Leguminosas (frijol, lenteja, haba)</h5>
        <div class="d-flex justify-content-md-start">
          <%= f.input :frecuencia_leguminosas, required: true,
                      as: :radio_buttons,
                      collection: [[0.0, '0'], [1.0, '1'], [2.5, '2-3'], [4.5, '4-5'], [7.0, '7']],
                      label_method: :second,
                      value_method: :first,
                      item_wrapper_class: "btn btn-outline-dark btn-group px-2 m-2"
          %>
        </div>
      </div>

      <!-- avena -->
      <div id="avena" >
        <h5 class="text-md-start pb-1 pt-3">Avena</h5>
        <div class="d-flex justify-content-md-start">
          <%= f.input :frecuencia_avena, required: true,
                      as: :radio_buttons,
                      collection: [[0.0, '0'], [1.0, '1'], [2.5, '2-3'], [4.5, '4-5'], [7.0, '7']],
                      label_method: :second,
                      value_method: :first,
                      item_wrapper_class: "btn btn-outline-dark btn-group px-2 m-2"
          %>
        </div>
      </div>

      <!-- amaranto -->
      <div id="amaranto" >
        <h5 class="text-md-start pb-1 pt-3">Amaranto</h5>
        <div class="d-flex justify-content-md-start">
          <%= f.input :frecuencia_amaranto, required: true,
                      as: :radio_buttons,
                      collection: [[0.0, '0'], [1.0, '1'], [2.5, '2-3'], [4.5, '4-5'], [7.0, '7']],
                      label_method: :second,
                      value_method: :first,
                      item_wrapper_class: "btn btn-outline-dark btn-group px-2 m-2"
          %>
        </div>
      </div>

      <!-- tortillas -->
      <div id="tortilla" >
        <h5 class="text-md-start pb-1 pt-3">Tortillas</h5>
        <div class="d-flex justify-content-md-start">
          <%= f.input :frecuencia_tortillas, required: true,
                      as: :radio_buttons,
                      collection: [[0.0, '0'], [1.0, '1'], [2.5, '2-3'], [4.5, '4-5'], [7.0, '7']],
                      label_method: :second,
                      value_method: :first,
                      item_wrapper_class: "btn btn-outline-dark btn-group p-2 m-2"
          %>
        </div>
      </div>

      <div id="tortillas" >
        <h5 class="text-md-start pb-1 pt-3">¿Cuántas tortillas consumes en un día?</h5>
        <%= f.input :cantidad_tortillas, required: true,
                    label: false,
                    collection: (0..10),
                    selected:[1]
        %>
      </div>

      <div  id="tamales">
        <!-- tamales -->
        <%= image_tag "harinas.png", class: "dieta-pic" %>
        <h5 class="text-md-start pb-1 pt-3">Tamales</h5>
        <div class="d-flex justify-content-md-start">
          <%= f.input :frecuencia_tamales, required: true, label: "Tamales",
                      as: :radio_buttons,
                      collection: [[0.0, '0'], [1.0, '1'], [2.5, '2-3'], [4.5, '4-5'], [7.0, '7'], [0.25, '1 vez al mes']],
                      label_method: :second,
                      value_method: :first,
                      item_wrapper_class: "btn btn-outline-dark btn-group px-2 m-2"
          %>
        </div>
      </div>

      <!-- atole -->
      <div id="atole" >
        <h5 class="text-md-start pb-1 pt-3">Atole</h5>
        <div class="d-flex justify-content-md-start">
          <%= f.input :frecuencia_atole, required: true,label: "Atole",
                      as: :radio_buttons,
                      collection: [[0.0, '0'], [1.0, '1'], [2.5, '2-3'], [4.5, '4-5'], [7.0, '7'], [0.25, '1 vez al mes']],
                      label_method: :second,
                      value_method: :first,
                      item_wrapper_class: "btn btn-outline-dark btn-group px-2 m-2"
          %>
        </div>
      </div>

      <!-- tacos -->
      <div id="taco" >
        <h5 class="text-md-start pb-1 pt-3">Tacos</h5>
        <div class="d-flex justify-content-md-start">
          <%= f.input :frecuencia_tacos, required: true, label: "Tacos",
                      as: :radio_buttons,
                      collection: [[0.0, '0'], [1.0, '1'], [2.5, '2-3'], [4.5, '4-5'], [7.0, '7'], [0.25, '1 vez al mes']],
                      label_method: :second,
                      value_method: :first,
                      item_wrapper_class: "btn btn-outline-dark btn-group px-2 m-2"
          %>
        </div>
      </div>

      <div  id="tacos">
        <h5 class="text-md-start pb-1 pt-3">Si consumes tacos, ¿cuáles prefieres?</h5>
        <div class="d-flex flex-column justify-content-start align-items-start">
          <%= f.input :al_pastor %>
          <%= f.input :suadero, label: "Tacos bistec/suadero" %>
          <%= f.input :guisados, label: "De guisados" %>
          <%#= f.input :valores_tacos, label: "Si consumes tacos, ¿cuáles prefieres?", as: :check_boxes, collection: [['Al pastor', 4.85], ['Tacos bistec/suadero', 16.3], ['De guisados', 2.33]] %>
        </div>
      </div>

      <!-- torta -->
      <div id="torta" >
        <h5 class="text-md-start pb-1 pt-3">Torta</h5>
        <div class="d-flex justify-content-md-start">
          <%= f.input :frecuencia_torta, required: true,label: "Torta",
                      as: :radio_buttons,
                      collection: [[0.0, '0'], [1.0, '1'], [2.5, '2-3'], [4.5, '4-5'], [7.0, '7'], [0.25, '1 vez al mes']],
                      label_method: :second,
                      value_method: :first,
                      item_wrapper_class: "btn btn-outline-dark btn-group px-2 m-2"
          %>
        </div>
      </div>

      <!-- bolillo -->
      <div id="bolillo" >
        <h5 class="text-md-start pb-1 pt-3">Bolillo (sin tomar en cuenta el de la torta)</h5>
        <div class="d-flex justify-content-md-start">
          <%= f.input :frecuencia_bolillo, required: true,
                      as: :radio_buttons,
                      collection: [[0.0, '0'], [1.0, '1'], [2.5, '2-3'], [4.5, '4-5'], [7.0, '7'], [0.25, '1 vez al mes']],
                      label_method: :second,
                      value_method: :first,
                      item_wrapper_class: "btn btn-outline-dark btn-group px-2 m-2"
          %>
        </div>
      </div>

      <div id="bolillos" >
        <h5 class="text-md-start pb-1 pt-3">¿Cuántos bolillos consumes en un día?</h5>
        <%= f.input :cantidad_bolillo, required: true,
                    label: false,
                    collection: (0..10),
                    selected:[0]
        %>
      </div>

      <!-- sandwich -->
      <div id="sandwich" >
        <h5 class="text-md-start pb-1 pt-3">Sandwich</h5>
        <div class="d-flex justify-content-md-start">
          <%= f.input :frecuencia_sandwich, required: true, label: "Sandwich",
                      as: :radio_buttons,
                      collection: [[0.0, '0'], [1.0, '1'], [2.5, '2-3'], [4.5, '4-5'], [7.0, '7'], [0.25, '1 vez al mes']],
                      label_method: :second,
                      value_method: :first,
                      item_wrapper_class: "btn btn-outline-dark btn-group px-2 m-2"
          %>
        </div>
      </div>

      <!-- embutidos -->
      <div id="embutido" >
        <h5 class="text-md-start pb-1 pt-3">Embutidos (jamón, salchicha)</h5>
        <div class="d-flex justify-content-md-start">
          <%= f.input :frecuencia_embutidos, required: true,
                      as: :radio_buttons,
                      collection: [[0.0, '0'], [1.0, '1'], [2.5, '2-3'], [4.5, '4-5'], [7.0, '7'], [0.25, '1 vez al mes']],
                      label_method: :second,
                      value_method: :first,
                      item_wrapper_class: "btn btn-outline-dark btn-group px-2 m-2"
          %>
        </div>
      </div>

      <div  id="embutidos">
        <h5 class="text-md-start pb-1 pt-3">¿Qué embutidos sueles consumir?</h5>
        <div class="d-flex flex-column justify-content-start align-items-start">
          <%= f.input :jamon_pavo, label: "Jamon de pavo" %>
          <%= f.input :jamon_puerco, label: "Jamon de puerco" %>
          <%= f.input :salchicha_pavo, label: "Salchicha de pavo" %>
          <%#= f.input :valores_embutidos, label: "¿Qué embutidos sueles consumir?", as: :check_boxes, collection: [['Jamon de pavo', 36.0], ['Jamon de puerco', 20.0], ['Salchicha de pavo', 21.2]] %>
        </div>

      </div>

      <!-- pan industrial -->
      <div id="pan-industrial" >
        <h5 class="text-md-start pb-1 pt-3">Pan industrial (pan blanco, integral, donas)</h5>
        <div class="d-flex justify-content-md-start">
          <%= f.input :frecuencia_pan, required: true,
                      as: :radio_buttons,
                      collection: [[0.0, '0'], [1.0, '1'], [2.5, '2-3'], [4.5, '4-5'], [7.0, '7'], [0.25, '1 vez al mes']],
                      label_method: :second,
                      value_method: :first,
                      item_wrapper_class: "btn btn-outline-dark btn-group px-2 m-2"
          %>
        </div>
      </div>

      <div id="rebanadas" >
        <h5 class="text-md-start pb-1 pt-3">¿Cuántas rebanadas comes en un día? (sin contar las del sandwich)</h5>
        <%= f.input :cantidad_pan, required: true,
                    label: false,
                    collection: (0..10),
                    selected:[1]
        %>
      </div>

      <div id="panes" >
        <h5 class="text-md-start pb-1 pt-3">¿Comes alguno de estos panes?</h5>
        <div class="d-flex flex-column justify-content-start align-items-start">
          <%= f.input :pan_blanco %>
          <%= f.input :mantecadas, label: "Pastelitos empaquetados / donas / mantecadas" %>
          <%#= f.input :valores_pan, label: "Si consumes panes industrializados ¿consumes alguno de estos?", as: :check_boxes, collection: [['Pan blanco', 0.15], ['Pan integral', 20.0], ['Pastelitos empaquetados/ donas/mantecadas', 4.37]] %>
        </div>
      </div>

      <div  id="sopas">
        <!-- sopas instantáneas -->
        <%= image_tag "refrescos.png", class: "dieta-pic" %>
        <h5 class="text-md-start pb-1 pt-3">Sopas instantáneas</h5>
        <div class="d-flex justify-content-md-start">
          <%= f.input :frecuencia_sopas, required: true,
                      as: :radio_buttons,
                      collection: [[0.0, '0'], [1.0, '1'], [2.5, '2-3'], [4.5, '4-5'], [7.0, '7'], [0.25, '1 vez al mes']],
                      label_method: :second,
                      value_method: :first,
                      item_wrapper_class: "btn btn-outline-dark btn-group px-2 m-2"
          %>
        </div>
      </div>

      <!-- jugos embotellados -->
      <div id="jugos" >
        <h5 class="text-md-start pb-1 pt-3">Jugos embotellados</h5>
        <div class="d-flex justify-content-md-start">
          <%= f.input :frecuencia_jugos, required: true,
                      as: :radio_buttons,
                      collection: [[0.0, '0'], [1.0, '1'], [2.5, '2-3'], [4.5, '4-5'], [7.0, '7'], [0.25, '1 vez al mes']],
                      label_method: :second,
                      value_method: :first,
                      item_wrapper_class: "btn btn-outline-dark btn-group px-2 m-2"
          %>
        </div>
      </div>

      <!-- refrescos -->
      <div id="refrescos" >
        <h5 class="text-md-start pb-1 pt-3">Refrescos</h5>
        <div class="d-flex justify-content-md-start">
          <%= f.input :frecuencia_refrescos, required: true,
                      as: :radio_buttons,
                      collection: [[0.0, '0'], [1.0, '1'], [2.5, '2-3'], [4.5, '4-5'], [7.0, '7'], [0.25, '1 vez al mes']],
                      label_method: :second,
                      value_method: :first,
                      item_wrapper_class: "btn btn-outline-dark btn-group px-2 m-2"
          %>
        </div>
      </div>

      <!-- bebidas energizantes -->
      <div id="bebidas" >
        <h5 class="text-md-start pb-1 pt-3">Bebidas energizantes</h5>
        <div class="d-flex justify-content-md-start">
          <%= f.input :frecuencia_bebidas_energetizantes, required: true,
                      as: :radio_buttons,
                      collection: [[0.0, '0'], [1.0, '1'], [2.5, '2-3'], [4.5, '4-5'], [7.0, '7'], [0.25, '1 vez al mes']],
                      label_method: :second,
                      value_method: :first,
                      item_wrapper_class: "btn btn-outline-dark btn-group px-2 m-2"
          %>
        </div>
      </div>

      <div  id="galleta">
        <!-- galletas -->
        <%= image_tag "chocolates.png", class: "dieta-pic" %>
        <h5 class="text-md-start pb-1 pt-3">Galletas</h5>
        <div class="d-flex justify-content-md-start">
          <%= f.input :frecuencia_galletas, required: true,
                      as: :radio_buttons,
                      collection: [[0.0, '0'], [1.0, '1'], [2.5, '2-3'], [4.5, '4-5'], [7.0, '7'], [0.25, '1 vez al mes']],
                      label_method: :second,
                      value_method: :first,
                      item_wrapper_class: "btn btn-outline-dark btn-group px-2 m-2"
          %>
        </div>
      </div>

      <div  id="galletas">
        <h5 class="text-md-start pb-1 pt-3">Si consumes galletas, ¿cuáles comes?</h5>
        <div class="d-flex flex-column justify-content-start align-items-start">
          <%= f.input :galletas_saladas %>
          <%= f.input :galletas_dulces %>
          <%#= f.input :valores_galletas, label: "En caso de consumir galletas, ¿cuáles consumes?", as: :check_boxes, collection: [['Galletas saladas', 2.88], ['Dulces', 4.37]] %>
        </div>
      </div>

      <!-- frituras -->
      <div id="fritura" >
        <h5 class="text-md-start pb-1 pt-3">Frituras</h5>
        <div class="d-flex justify-content-md-start">
          <%= f.input :frecuencia_frituras, required: true,
                      as: :radio_buttons,
                      collection: [[0.0, '0'], [1.0, '1'], [2.5, '2-3'], [4.5, '4-5'], [7.0, '7'], [0.25, '1 vez al mes']],
                      label_method: :second,
                      value_method: :first,
                      item_wrapper_class: "btn btn-outline-dark btn-group px-2 m-2"
          %>
        </div>
      </div>

      <div  id="frituras">
        <h5 class="text-md-start pb-1 pt-3">Si consumes frituras, ¿comes alguna de éstas?</h5>
        <div class="d-flex flex-column justify-content-start align-items-start">
          <%= f.input :fritura_papa, label: 'Papas' %>
          <%= f.input :fritura_chicharron, label: 'Chicharrones' %>
          <%#= f.input :valores_frituras, label: "Si consumes frituras ¿consumes alguna de estas?", as: :check_boxes, collection: [['Papas', 6.4], ['Chicharrones', 23.71]] %>
        </div>
      </div>

      <!-- chocolates -->
      <div id="chocolate" >
        <h5 class="text-md-start pb-1 pt-3">Chocolates</h5>
        <div class="d-flex justify-content-md-start">
          <%= f.input :frecuencia_chocolates, required: true,
                      as: :radio_buttons,
                      collection: [[0.0, '0'], [1.0, '1'], [2.5, '2-3'], [4.5, '4-5'], [7.0, '7'], [0.25, '1 vez al mes']],
                      label_method: :second,
                      value_method: :first,
                      item_wrapper_class: "btn btn-outline-dark btn-group px-2 m-2"
          %>
        </div>
      </div>

      <div id="chocolates" >
        <h5 class="text-md-start pb-1 pt-3">¿Cuántos chocolates comes en un día?</h5>
        <%= f.input :cantidad_chocolates, required: true,
                    label: false,
                    collection: (0..10),
                    selected:[1]
        %>
      </div>

      <div  id="insecto">
        <!-- insectos -->
        <%= image_tag "insectos.png", class: "sm-icon" %>
        <h5 class="text-md-start pb-1 pt-3">¿Has consumido insectos alguna vez?</h5>
        <div class="d-flex justify-content-md-start">
          <%= f.input :insectos, required: true,
                      as: :radio_buttons,
                      collection: [['si', 'si'], ['no', 'no']],
                      label_method: :second,
                      value_method: :first,
                      item_wrapper_class: "btn btn-outline-dark btn-group px-2 m-2"
          %>
        </div>
      </div>

      <div id="insectos" >
        <h5 class="text-md-start pb-1 pt-3">¿Cuantas veces al mes?</h5>
        <%= f.input :frecuencia_insectos, required: true,
                    label: false,
                    collection: (0..10),
                    selected: [1]
        %>
        <div id="listo" class="d-flex justify-content-md-start mt-4">
          <%= f.button :submit, "¡Listo!", class: "btn btn-success btn-lg",
                       input_html:{"data-cuestionario-target":"submitbutton"}
          %>
        </div>
      </div>
    </div>

  <% end %>

</div>
