<p id="notice"><%= notice %></p>

<h1>Cuestionarios</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Nombre</th>
      <th>Edad</th>
      <th>Sexo</th>
      <th>Escolaridad</th>
      <th>Pais</th>
      <th>Ciudad</th>
      <th>Localidad</th>
      <th>Peso</th>
      <th>Altura</th>
      <th>Alimentacion sana</th>
      <th>Alimentacion dana ambiente</th>
      <th>Persona actividad</th>
      <th>Actividad fisica</th>
      <th>Sobrepeso</th>
      <th>Obesidad</th>
      <th>Hipertension</th>
      <th>Colesterol</th>
      <th>Trigliceridos</th>
      <th>Diabetes</th>
      <th>Glucosa</th>
      <th>Diabetes familia</th>
      <th>Diabetes sintomas</th>
      <th>Dieta</th>
      <th>Origen vegetales</th>
      <th>Origen frutas</th>
      <th>Origen carne</th>
      <th>Origen leche</th>
      <th>Origen cereales</th>
      <th>Frecuencia res</th>
      <th>Frecuencia puerco</th>
      <th>Frecuencia borrego</th>
      <th>Frecuencia pollo</th>
      <th>Frecuencia salmon</th>
      <th>Frecuencia atun</th>
      <th>Frecuencia leche</th>
      <th>Frecuencia queso</th>
      <th>Frecuencia yogurt</th>
      <th>Frecuencia pescados mariscos</th>
      <th>Valores pescados mariscos</th>
      <th>Frecuencia huevo</th>
      <th>Cantidad huevo</th>
      <th>Frecuencia vegetales</th>
      <th>Cantidad vegetales</th>
      <th>Frecuencia fruta</th>
      <th>Cantidad fruta</th>
      <th>Frecuencia arroz</th>
      <th>Frecuencia leguminosas</th>
      <th>Frecuencia avena</th>
      <th>Frecuencia amaranto</th>
      <th>Frecuencia tortillas</th>
      <th>Cantidad tortillas</th>
      <th>Insectos</th>
      <th>Frecuencia insectos</th>
      <th>Frecuencia tamales</th>
      <th>Frecuencia atole</th>
      <th>Frecuencia sandwich</th>
      <th>Frecuencia tacos</th>
      <th>Valores tacos</th>
      <th>Frecuencia torta</th>
      <th>Frecuencia bolillo</th>
      <th>Cantidad bolillo</th>
      <th>Frecuencia sopas</th>
      <th>Frecuencia jugos</th>
      <th>Frecuencia refrescos</th>
      <th>Frecuencia bebidas energetizantes</th>
      <th>Frecuencia galletas</th>
      <th>Valores galletas</th>
      <th>Frecuencia embutidos</th>
      <th>Valores embutidos</th>
      <th>Frecuencia pan</th>
      <th>Valores pan</th>
      <th>Cantidad pan</th>
      <th>Frecuencia frituras</th>
      <th>Valores frituras</th>
      <th>Frecuencia chocolates</th>
      <th>Cantidad chocolates</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cuestionarios.each do |cuestionario| %>
      <tr>
        <td><%= cuestionario.email %></td>
        <td><%= cuestionario.nombre %></td>
        <td><%= cuestionario.edad %></td>
        <td><%= cuestionario.sexo %></td>
        <td><%= cuestionario.escolaridad %></td>
        <td><%= cuestionario.pais %></td>
        <td><%= cuestionario.ciudad %></td>
        <td><%= cuestionario.localidad %></td>
        <td><%= cuestionario.peso %></td>
        <td><%= cuestionario.altura %></td>
        <td><%= cuestionario.alimentacion_sana %></td>
        <td><%= cuestionario.alimentacion_dana_ambiente %></td>
        <td><%= cuestionario.persona_actividad %></td>
        <td><%= cuestionario.actividad_fisica %></td>
        <td><%= cuestionario.sobrepeso %></td>
        <td><%= cuestionario.obesidad %></td>
        <td><%= cuestionario.hipertension %></td>
        <td><%= cuestionario.colesterol %></td>
        <td><%= cuestionario.trigliceridos %></td>
        <td><%= cuestionario.diabetes %></td>
        <td><%= cuestionario.glucosa %></td>
        <td><%= cuestionario.diabetes_familia %></td>
        <td><%= cuestionario.diabetes_sintomas %></td>
        <td><%= cuestionario.dieta %></td>
        <td><%= cuestionario.origen_vegetales %></td>
        <td><%= cuestionario.origen_frutas %></td>
        <td><%= cuestionario.origen_carne %></td>
        <td><%= cuestionario.origen_leche %></td>
        <td><%= cuestionario.origen_cereales %></td>
        <td><%= cuestionario.frecuencia_res %></td>
        <td><%= cuestionario.frecuencia_puerco %></td>
        <td><%= cuestionario.frecuencia_borrego %></td>
        <td><%= cuestionario.frecuencia_pollo %></td>
        <td><%= cuestionario.frecuencia_salmon %></td>
        <td><%= cuestionario.frecuencia_atun %></td>
        <td><%= cuestionario.frecuencia_leche %></td>
        <td><%= cuestionario.frecuencia_queso %></td>
        <td><%= cuestionario.frecuencia_yogurt %></td>
        <td><%= cuestionario.frecuencia_pescados_mariscos %></td>
        <td><%= cuestionario.valores_pescados_mariscos %></td>
        <td><%= cuestionario.frecuencia_huevo %></td>
        <td><%= cuestionario.cantidad_huevo %></td>
        <td><%= cuestionario.frecuencia_vegetales %></td>
        <td><%= cuestionario.cantidad_vegetales %></td>
        <td><%= cuestionario.frecuencia_fruta %></td>
        <td><%= cuestionario.cantidad_fruta %></td>
        <td><%= cuestionario.frecuencia_arroz %></td>
        <td><%= cuestionario.frecuencia_leguminosas %></td>
        <td><%= cuestionario.frecuencia_avena %></td>
        <td><%= cuestionario.frecuencia_amaranto %></td>
        <td><%= cuestionario.frecuencia_tortillas %></td>
        <td><%= cuestionario.cantidad_tortillas %></td>
        <td><%= cuestionario.insectos %></td>
        <td><%= cuestionario.frecuencia_insectos %></td>
        <td><%= cuestionario.frecuencia_tamales %></td>
        <td><%= cuestionario.frecuencia_atole %></td>
        <td><%= cuestionario.frecuencia_sandwich %></td>
        <td><%= cuestionario.frecuencia_tacos %></td>
        <td><%= cuestionario.valores_tacos %></td>
        <td><%= cuestionario.frecuencia_torta %></td>
        <td><%= cuestionario.frecuencia_bolillo %></td>
        <td><%= cuestionario.cantidad_bolillo %></td>
        <td><%= cuestionario.frecuencia_sopas %></td>
        <td><%= cuestionario.frecuencia_jugos %></td>
        <td><%= cuestionario.frecuencia_refrescos %></td>
        <td><%= cuestionario.frecuencia_bebidas_energetizantes %></td>
        <td><%= cuestionario.frecuencia_galletas %></td>
        <td><%= cuestionario.valores_galletas %></td>
        <td><%= cuestionario.frecuencia_embutidos %></td>
        <td><%= cuestionario.valores_embutidos %></td>
        <td><%= cuestionario.frecuencia_pan %></td>
        <td><%= cuestionario.valores_pan %></td>
        <td><%= cuestionario.cantidad_pan %></td>
        <td><%= cuestionario.frecuencia_frituras %></td>
        <td><%= cuestionario.valores_frituras %></td>
        <td><%= cuestionario.frecuencia_chocolates %></td>
        <td><%= cuestionario.cantidad_chocolates %></td>
        <td><%= link_to 'Show', cuestionario %></td>
        <td><%= link_to 'Edit', edit_cuestionario_path(cuestionario) %></td>
        <td><%= link_to 'Destroy', cuestionario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cuestionario', new_cuestionario_path %>
