<p id="notice"><%= notice %></p>

<!-- Esta seccion se oculto usando d-none, anteriormente aqui estaban reflejados los valores de la encuesta -->
<div class="container my-3 d-none">
  <h3>HS 1</h3>
  <p>
    Harris Benedict:
    <%= @harris_benedict %> kcal
  </p>
  <p>
    Factor de actividad fisica:
    <%= @factor_actividad_fisica %>
  </p>
  <p>
    Efecto termogenico de los alimentos:
    <%= @eta1 %>
  </p>
  <p>
    HS:
    <%= @hs1 %>
  </p>
  <hr>
  <h3>HS 2</h3>
  <p>
    Peso real:
    <%= @cuestionario.peso %> kg
  </p>
  <p>
    Lorentz (peso ideal):
    <%= @lorentz %> kg
  </p>
  <p>
    Peso ajustado:
    <%= @peso_ajustado %> kg
  </p>
  <p>
    Harris Benedict (peso ajustado):
    <%= @harris_benedict_ajustado %> kcal
  </p>
  <p>
    Efecto termogenico de los alimentos:
    <%= @eta2 %>
  </p>
  <p>
    HS:
    <%= @hs2 %>
  </p>


  <%# The links menu was commented and it is kept in the code just in case we need it later %>
  <%#= link_to 'Edit', edit_cuestionario_path(@cuestionario) %>
  <%#= link_to 'Back', cuestionarios_path %>
</div>


<!--   Resultados que van en el show -->
<div class="bg-results bg-dark text-white p-2">
  <div class="d-flex flex-column justify-content-around align-items-center p-5">
    <%= image_tag "bubble.png", class: 'bubble' %>
    <span class="letter-spacing-1"><small><u>TU IMPACTO</u></small></span>
    <span><small>Calorias <strong class="text-success"><%= @calorias %> kcal</strong></small></span>
    <span><small>Emisiones <strong class="text-success"><%= @carbono %> kg/CO2</strong></small></span>
  </div>
  <div class=" text-center">
    <h3>En relaciﾃｳn a la gente de tu paﾃｭs, tu nivel de contaminaciﾃｳn es <u>bajo.</u></h3><br>
    <h3>De acuerdo a tu estatura, peso actual, edad y sexo, tu consumo de calorﾃｭas es <u><%= @nivel_consumo_calorias %>.</u></h3><br>
  </div>
  <div class="container mt-5">
    <p class="text-center">Asﾃｭ se ve actualmente la relaciﾃｳn entre emisiones y consumo de calorﾃｭas por paﾃｭs.</p>
    <div class="row">
      <div class="col-2 d-flex flex-column justify-content-around align-items-center">
        <p><small>4,000</small></p>
        <p><small>3,500</small></p>
        <p><small>3,000</small></p>
      </div>
      <div class="col-3 border" id="grupo2">
        <h1>ｲｽｬｧｧｷｨｷｩｲｪｬｲｦｱｨｮｩ</h1>
      </div>
      <div class="col-3 border" id="grupo4">
        <h1>ｨｳｯｵｩｪｮｹｦｷｨｱｹｷｸｰｩｰｧｬｧｸｮｪｸｹｲｹｱｧｬｷｸｪｨｭ</h1>
      </div>
      <div class="col-3 border" id="grupo6">
        <h1>ｺｸｰｷｷｺｨｦｧｪｦｺｦｹｫｮ</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-2 d-flex flex-column justify-content-around align-items-center">
        <p><small>2,500</small></p>
        <p><small>2,000</small></p>
        <p><small>1,500</small></p>
        <h2>Kcal</h2>
      </div>
      <div class="col-3 border" id="grupo1">
        <h1>ｵｰｳｬｧｮｧｩｸｸｲｿｸｱｨｬ</h1>
      </div>
      <div class="col-3 border" id="grupo3">
        <h1>ｹｭｧｸｮｶｭｷｲｻ</h1>
      </div>
      <div class="col-3 border" id="grupo5">
        <h1>ｲｳｸｨ</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-9 d-flex justify-content-between mb-2">
        <span><small>0</small></span>
        <span><small>1.3</small></span>
        <span><small>2.7</small></span>
        <span><small>4.1</small></span>
        <span><small>5.4</small></span>
        <span><small>6.8</small></span>
        <span><small>8.2</small></span>
        <span><small>9.5</small></span>
      </div>
    </div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-9">
        <h2 class="text-center">CO<small>2</small> por dﾃｭa</h2>
      </div>
    </div>
  </div>
  <div class="text-center mt-5 mb-3">
    <p class="display-6 pt-5 text-success">ﾂｿY luego?</p><br>
    <button class="btn btn-success rounded-circle mt-3 float-right mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#saber-mas" aria-expanded="false" aria-controls="saber-mas">
      <span class="material-symbols-outlined pt-2">
        arrow_downward
      </span>
    </button>
  </div>
</div>
<div class="collapse bg-results bg-light" id="saber-mas">
  <div class="container p-2">
    <div class="row mt-5">
      <div class="col-6">
        <h3>
          <% if (0..0.75).include? @calorias / @hs1 %>
            <p>Tu consumo actual de kcal es deficiente. ﾂ｡Estﾃ｡ en riesgo tu salud!</p>
            <h5 class="text-success">ﾃ］imo, siempre puedes hacer algo.</h5><br>
          <% elsif (0.76..0.85).include? @calorias / @hs1 %>
            <p>Tu consumo de kcal es menor al que requieres para mantener tu peso, por lo que bajaras de peso.</p>
            <h5 class="text-success">ﾃ］imo, siempre puedes hacer algo.</h5><br>
          <% elsif (0.86..1.09).include? @calorias / @hs1 %>
            <p>Tu consumo de kcal es suficiente para mantener tu peso actual.</p>
            <h5 class="text-success">Excelente, ﾂ｡sigue asﾃｭ!</h5><br>
          <% elsif (1..1.25).include? @calorias / @hs1 %>
            <p>Estﾃ｡s consumiendo 25% mﾃ｡s de lo que deberﾃｭas para mantener tu peso actual. Si continuas con esa alimentaciﾃｳn subirﾃ｡s de peso.</p>
            <h5 class="text-success">ﾃ］imo, siempre puedes hacer algo.</h5><br>
          <% elsif (1.26..1.5).include? @calorias / @hs1 %>
            <p>Estﾃ｡s consumiendo 50% mﾃ｡s de lo que deberﾃｭas para mantener tu peso actual. Si continuas con esa alimentaciﾃｳn subirﾃ｡s de peso.</p>
            <h5 class="text-success">ﾃ］imo, siempre puedes hacer algo.</h5><br>
          <% elsif (1.51..1.75).include? @calorias / @hs1 %>
            <p>Estﾃ｡s consumiendo 75% mﾃ｡s de lo que deberﾃｭas para mantener tu peso actual. Si continuas con esa alimentaciﾃｳn subirﾃ｡s de peso.</p>
            <h5 class="text-success">ﾃ］imo, siempre puedes hacer algo.</h5><br>
          <% elsif (1.76..2).include? @calorias / @hs1 %>
            <p>Estﾃ｡s consumiendo <strong>dos veces mﾃ｡s</strong> de lo que deberﾃｭas para mantener tu peso actual. Si continuas con esa alimentaciﾃｳn subirﾃ｡s de peso y ademﾃ｡s tienes mayor riesgo de padecer enfermedades cardiovasculares, diabetes y cﾃ｡ncer.</p>
            <h5 class="text-success">ﾃ］imo, siempre puedes hacer algo.</h5><br>
          <% elsif (2.1..3).include? @calorias / @hs1 %>
            <p>Estﾃ｡s consumiendo <strong>tres veces mﾃ｡s</strong> de lo que deberﾃｭas para mantener tu peso actual. Si continuas con esa alimentaciﾃｳn subirﾃ｡s de peso y ademﾃ｡s tienes mayor riesgo de padecer enfermedades cardiovasculares, diabetes y cﾃ｡ncer.</p>
            <h5 class="text-success">ﾃ］imo, siempre puedes hacer algo.</h5><br>
          <% elsif (3.1..4).include? @calorias / @hs1 %>
            <p>Estﾃ｡s consumiendo <strong>cuatro veces mﾃ｡s</strong> de lo que deberﾃｭas para mantener tu peso actual. Si continuas con esa alimentaciﾃｳn subirﾃ｡s de peso y ademﾃ｡s tienes mayor riesgo de padecer enfermedades cardiovasculares, diabetes y cﾃ｡ncer.</p>
            <h5 class="text-success">ﾃ］imo, siempre puedes hacer algo.</h5><br>
          <% else (4.1..5).include? @calorias / @hs1 %>
            <p>Estﾃ｡s consumiendo <strong>cinco veces mﾃ｡s</strong> de lo que deberﾃｭas para mantener tu peso actual. Si continuas con esa alimentaciﾃｳn subirﾃ｡s de peso y ademﾃ｡s tienes mayor riesgo de padecer enfermedades cardiovasculares, diabetes y cﾃ｡ncer.</p>
            <h5 class="text-success">ﾃ］imo, siempre puedes hacer algo.</h5><br>
          <% end %>
        </h3>
        <p>Las <strong>enfermedades cardiovasculares, diabetes y cﾃ｡ncer</strong> (no transmisibles) matan 41 millones de personas cada aﾃｱo. Eso equivale al <strong>71% de las muertes</strong> que se producen en el mundo.</p><br>
        <p><strong>Haz ejercicio</strong>. ﾂ｡Muy bueno para tu salud! Podrﾃｭan evitarse 5 millones de muertes con un mayor nivel de actividad fﾃｭsica en la poblaciﾃｳn mundial.</p><br>
        <p><strong>Disminuye tu consumo de carne de res.</strong> Su producciﾃｳn es responsable de la mayor
        cantidad de emisiones de gases de efecto invernadero en la industria alimentaria. La OMS
        recomienda consumir 90g por dﾃｭa para ver un efecto significativo en las emisiones de carbono
        y la salud.</p><br>
        <p><strong>Limita tu consumo de grasas saturadas, azﾃｺcar y sal.</strong> Modificando tu dieta puedes reducir el riesgo de que te de obesidad, accidentes vasculares cerebrales, diabetes, cﾃ｡ncer de mama y de colon.</p><br>
        <p><strong>Consume productos locales y de temporada.</strong> Si se reduce el transporte de los
        alimentos se reducen los combustibles fﾃｳsiles utilizados, por lo que su huella de carbono es
        menor.</p><br>
        <p><strong>Compra solo lo que necesitas</strong> para evitar el desperdicio de alimentos.</p><br>
        <h5 class="text-success">ﾂ｡Tampoco mueras de hambre!</h5>
        <p>Necesitas mﾃｭnimo <%= @harris_benedict %> kcal para que tu cuerpo haga las funciones bﾃ｡sicas de tu metabolismo como respirar y dormir.</p><br>
        <p><strong>Aumenta el consumo de frutas y verduras</strong>. Mﾃｭnimo 5 porciones al dﾃｭa reducen el
        riesgo de padecer enfermedades no transmisibles.</p><br>
        <p>Abre tu mente al consumo de fuentes alternativas de proteﾃｭnas como <strong>leguminosas e insectos</strong>.</p><br>
        <p>Busca <strong>asesorﾃｭa</strong> de un profesional de la salud si no sabes quﾃｩ hacer. Estamos para ayudarte e informarte.</p>
      </div>
      <div class="col-2">
        <%= image_tag "co2.png" %>
      </div>
    </div>
  </div>
  <div class="bg-results bg-success text-dark p-2 text-center">
    <p><small>C O N T A C T O ____ proyecto@gmail.com</small></p>
  </div>
</div>
