<p id="notice"><%= notice %></p>

<div class="container my-3">
  <h3>Calculadora de Calorias</h3>
    <p>
      Calorias:
      <%= @calorias %> kcal
    </p>
  <hr>
  <h3>Huella de carbono</h3>
    <p>
      Huella de carbono:
      <%= @carbono %> kg.
    </p>
  <hr>
  <h3>HS 1</h3>
  <p>
    Harris Benedict:
    <%= @harris_benedict %> kcal
  </p>
  <p>
    Factor de activdad fisica:
    <%= @factor_actividad_fisica %>
  </p>
  <p>
    Efecto termogenico de los alimentos:
    <%= @eta1 %>
  </p>
  <p>
    HS:
    <%= @hs1 %>
  </p>
  <hr>
  <h3>HS 2</h3>
  <p>
    Peso real:
    <%= @cuestionario.peso %> kg
  </p>
  <p>
    Lorentz (peso ideal):
    <%= @lorentz %> kg
  </p>
  <p>
    Peso ajustado:
    <%= @peso_ajustado %> kg
  </p>
  <p>
    Harris Benedict (peso ajustado):
    <%= @harris_benedict_ajustado %> kcal
  </p>
  <p>
    Efecto termogenico de los alimentos:
    <%= @eta2 %>
  </p>
  <p>
    HS:
    <%= @hs2 %>
  </p>


  <%# The links menu was commented and it is kept in the code just in case we need it later %>
  <%#= link_to 'Edit', edit_cuestionario_path(@cuestionario) %>
  <%#= link_to 'Back', cuestionarios_path %>
</div>


<!--   Resultados que van en el show -->
<div class="bg-results bg-dark text-white p-2">
  <div class="d-flex flex-column justify-content-around align-items-center p-5">
    <%= image_tag "bubble.png", class: 'bubble' %>
    <span class="letter-spacing-1"><small><u>TU IMPACTO</u></small></span>
    <span><small>Calorias <strong class="text-success"><%= @calorias %> kcal</strong></small></span>
    <span><small>Emisiones <strong class="text-success"><%= @carbono %> kg/CO2</strong></small></span>
  </div>
  <div class=" text-center">
    <h3>En relaci칩n a la gente de tu pa칤s, tu nivel de contaminaci칩n es <u>bajo.</u></h3><br>
    <h3>De acuerdo a tu estatura, peso actual, edad y sexo, tu consumo de calor칤as es <u>bajo.</u></h3><br>
    <p class="display-6 text-success">Excelente, sigue as칤.</p><br>
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-2 d-flex flex-column justify-content-around align-items-center">
        <p><small>4,000</small></p>
        <p><small>3,500</small></p>
        <p><small>3,000</small></p>
      </div>
      <div class="col-3 border">
        <h1>游쓇릖쬃릖섫릖游游游뻟릖游뾇릖쓇릖쀯릖섫릖쓇릖뷣릖쐟릖뻟릖쉻릖</h1>
      </div>
      <div class="col-3 border">
        <h1>游뻟릖游游왫릖뾇릖쀯릖쉻릖좷릖뷣릖游뻟릖쐟릖좷릖游젏릖썷릖뾇릖썷릖游섫릖游젏릖쉻릖쀯릖젏릖좷릖쓇릖좷릖쐟릖游섫릖游젏릖쀯릖뻟릖</h1>
      </div>
      <div class="col-3 border">
        <h1>游쥟릖젏릖썷릖游游쥟릖뻟릖뷣릖游쀯릖뷣릖쥟릖뷣릖좷릖游</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-2 d-flex flex-column justify-content-around align-items-center">
        <p><small>2,500</small></p>
        <p><small>2,000</small></p>
        <p><small>1,500</small></p>
        <h2>Kcal</h2>
      </div>
      <div class="col-3 border">
        <h1>游왫릖썷릖游섫릖游쉻릖游뾇릖젏릖젏릖쓇릖游젏릖쐟릖뻟릖</h1>
      </div>
      <div class="col-3 border">
        <h1>游좷릖쇓릖游젏릖쉻릖윓릖쇓릖游쓇릖</h1>
      </div>
      <div class="col-3 border">
        <h1>游쓇릖游젏릖</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-9 d-flex justify-content-between mb-2">
        <span><small>0</small></span>
        <span><small>1.3</small></span>
        <span><small>2.7</small></span>
        <span><small>4.1</small></span>
        <span><small>5.4</small></span>
        <span><small>6.8</small></span>
        <span><small>8.2</small></span>
        <span><small>9.5</small></span>
      </div>
    </div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-9">
        <h2 class="text-center">CO<small>2</small> por d칤a</h2>
      </div>
    </div>
  </div>
  <div class="text-center mt-3">
    <p>As칤 se ve la relaci칩n entre emisiones y consumo de calor칤as por pa칤ses actualmente.</p>
    <p>쯈u칠 puedes hacer t칰?</p>
    <button class="btn btn-success rounded-circle mt-3 float-right mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#saber-mas" aria-expanded="false" aria-controls="saber-mas">
      <span class="material-symbols-outlined pt-2">
        arrow_downward
      </span>
    </button>
  </div>
</div>
<div class="collapse bg-results bg-light" id="saber-mas">
  <div class="container p-2">
    <div class="row mt-5">
      <div class="col-6">
        <p>El 14.5% de la contaminaci칩n global viene de la industria del ganado.</p>
        <p>Reducir tu consumo de carne roja y de queso puede ayudar a cortar 1/3 de la contaminaci칩n.</p>
        <p>Disminuye tu consumo de carne de res, ya que la producci칩n de esta es responsable de la mayor
        cantidad de emisiones de gases de efecto invernadero en la industria alimentaria. La OMS
        recomienda consumir 90g/persona/d칤a para ver un efecto significativo en las emisiones de carbono
        y la salud.</p>
        <p>Limitar el consumo de az칰car. 쯉ab칤as qu칠..? El producto agr칤cola de mayor demanda y producci칩n
        es la ca침a de az칰car, y gran parte de esta se destina a la producci칩n de bebidas azucaradas y
        alimentos altamente procesados, generando una acumulaci칩n en la sangre.</p>
        <p>Consumir productos locales y de temporada. 쯉ab칤as qu칠..? Esto reduce el transporte de los
        alimentos y por lo tanto los combustibles f칩siles utilizados, por lo que su huella de carbono es
        menor.</p>
        <p>Aseg칰rate de comprar solo lo que necesitas, para evitar el desperdicio de alimentos.</p>
        <p>Aumentar el consumo de frutas y verduras en por lo menos 5 porciones al d칤a, ya que reduce el
        riesgo de padecer enfermedades no transmisibles.</p>
        <p>Abrirnos al consumo de fuentes alternativas de prote칤nas como leguminosas e insectos.</p>
        <p>Y recuerda...cuida la calidad de tus alimentos, puedes buscar asesor칤a en un profesional de la
        salud.</p>
      </div>
      <div class="col-2">
        <%= image_tag "co2.png" %>
      </div>
    </div>
  </div>
</div>
<div class="bg-results bg-dark text-white p-2">
  <p><small>쯈uieres saber qu칠 m치s hacer? Cont치ctanos a proyecto@gmail.com</small></p>
</div>
