<p id="notice"><%= notice %></p>

<!-- Esta seccion se oculto usando d-none, anteriormente aqui estaban reflejados los valores de la encuesta -->
<div class="container my-3 d-none">
  <h3>HS 1</h3>
  <p>
    Harris Benedict:
    <%= @harris_benedict %> kcal
  </p>
  <p>
    Factor de actividad fisica:
    <%= @factor_actividad_fisica %>
  </p>
  <p>
    Efecto termogenico de los alimentos:
    <%= @eta1 %>
  </p>
  <p>
    HS:
    <%= @hs1 %>
  </p>
  <hr>
  <h3>HS 2</h3>
  <p>
    Peso real:
    <%= @cuestionario.peso %> kg
  </p>
  <p>
    Lorentz (peso ideal):
    <%= @lorentz %> kg
  </p>
  <p>
    Peso ajustado:
    <%= @peso_ajustado %> kg
  </p>
  <p>
    Harris Benedict (peso ajustado):
    <%= @harris_benedict_ajustado %> kcal
  </p>
  <p>
    Efecto termogenico de los alimentos:
    <%= @eta2 %>
  </p>
  <p>
    HS:
    <%= @hs2 %>
  </p>


  <%# The links menu was commented and it is kept in the code just in case we need it later %>
  <%#= link_to 'Edit', edit_cuestionario_path(@cuestionario) %>
  <%#= link_to 'Back', cuestionarios_path %>
</div>


<!--   Resultados que van en el show -->
<div class="bg-results p-2">
  <div class="d-flex flex-column justify-content-around align-items-center p-5">
    <%= image_tag "bubble.png", class: 'bubble' %>
    <h4 class="letter-spacing-1 opacity-80">TU IMPACTO</h4>
    <h1>Calorias <strong class="text-success"><%= @calorias %> kcal</strong></h1>
    <h1>Emisiones <strong class="text-success"><%= @carbono %> kg/CO2</strong></h1>
  </div>

  <table class="table table-borderless">
    <tbody>
      <tr>
        <th scope="row"></th>
        <td><h3>IMC</h3></td>
        <td><h3 class="text-success">8.7 normal</h3><p>IMC es la relación entre tu peso y tu talla que se usa para identificar sobrepeso y obesidad en adultos</p></td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td><h3>Deberías consumir</h3></td>
        <td><h3 class="text-success"><%=@hs1%> kcal</h3><p>De acuerdo a tu estatura, edad, sexo y peso actual</p></td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td><h3>Peso ideal</h3></td>
        <td><h3 class="text-success"><%=@hs2%> kcal</h3><p>Lo recomendable para estar en tu peso ideal</p></td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td><h3>Actualmente consumes</h3></td>
        <td><h3 class="text-success"><%=@calorias%> kcal</h3><p>De acuerdo a los resultados de tu encuesta</p></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="bg-results bg-dark text-white p-2">
  <div class="container mt-5">
    <p class="text-center">Así se ve actualmente la relación entre emisiones y consumo de calorías por país.</p>
    <div class="row">
      <div class="col-2 d-flex flex-column justify-content-around align-items-center">
        <p><small>4,000</small></p>
        <p><small>3,500</small></p>
        <p><small>3,000</small></p>
      </div>
      <div class="col-3 border" id="grupo2">
        <h1>
          <%= "#{@cuestionario.pais} está aquí" if @grupo_pais.eql?("II") %>
          <% if @calorias > 2750 && @carbono < 3.2 %>
            <span class="location-dot bg-orange"></span>
          <% end %>
        </h1>
        <p>México está aquí</p>
      </div>
      <div class="col-3 border" id="grupo4">
        <h1>
          <%= "#{@cuestionario.pais} está aquí" if @grupo_pais.eql?("IV") %>
          <%= "Tú estas aquí" if @calorias > 2750 && @carbono > 3.2 && @carbono < 6.4 %>
        </h1>
        <p>China está aquí</p>
      </div>
      <div class="col-3 border" id="grupo6">
        <h1>
          <%= "#{@cuestionario.pais} está aquí" if @grupo_pais.eql?("VI") %>
          <%= "Tú estas aquí" if @calorias > 2750 && @carbono > 6.4 %>
        </h1>
        <p>EUA está aquí</p>
      </div>
    </div>
    <div class="row">
      <div class="col-2 d-flex flex-column justify-content-around align-items-center">
        <p><small>2,500</small></p>
        <p><small>2,000</small></p>
        <p><small>1,500</small></p>
        <h2>Kcal</h2>
      </div>
      <div class="col-3 border" id="grupo1">
        <h1>
          <%= "#{@cuestionario.pais} está aquí" if @grupo_pais.eql?("I") %>
          <% if @calorias < 2750 && @carbono < 3.2 %>
            <div class="location-dot bg-light"></div>
          <% end %>
        </h1>
        <p>Bangladesh está aquí</p>
      </div>
      <div class="col-3 border" id="grupo3">
        <h1>
          <%= "#{@cuestionario.pais} está aquí" if @grupo_pais.eql?("III") %>
          <%= "Tú estas aquí" if @calorias < 2750 && @carbono < 6.4 && @carbono > 3.2 %>
        </h1>
        <p>Tailandia está aquí</p>
      </div>
      <div class="col-3 border" id="grupo5">
        <h1>
          <%= "#{@cuestionario.pais} está aquí" if @grupo_pais.eql?("V") %>
          <%= "Tú estas aquí" if @calorias < 2750 && @carbono > 6.4 %>
        </h1>
        <p>Mongolia está aquí</p>
      </div>
    </div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-9 d-flex justify-content-between mb-2">
        <span><small>0</small></span>
        <span><small>1.3</small></span>
        <span><small>2.7</small></span>
        <span><small>4.1</small></span>
        <span><small>5.4</small></span>
        <span><small>6.8</small></span>
        <span><small>8.2</small></span>
        <span><small>9.5</small></span>
      </div>
    </div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-9">
        <h2 class="text-center">CO<small>2</small> por día</h2>
      </div>
    </div>
  </div>
    <h3>En relación a la gente de tu país, tu nivel de contaminación es <u><%= @nivel_contaminacion %>.</u></h3>
    <h3>De acuerdo a tu estatura, peso actual, edad y sexo, tu consumo de calorías es <u><%= @nivel_consumo_calorias %>.</u></h3><br>
  <div class="text-center mt-5 mb-3">
    <p class="display-6 pt-5 text-success">¿Y luego?</p><br>
    <button class="btn btn-success rounded-circle mt-3 float-right mb-3" type="button" data-bs-toggle="collapse" data-bs-target="#saber-mas" aria-expanded="false" aria-controls="saber-mas">
      <span class="material-symbols-outlined pt-2">
        arrow_downward
      </span>
    </button>
  </div>
</div>
<div class="collapse bg-results bg-light" id="saber-mas">
  <div class="container p-2">
    <div class="row mt-5">
      <div class="col-6">
        <h3>
          <% if (0..0.75).include? @calorias / @hs1 %>
            <p>Tu consumo actual de kcal es deficiente. ¡Está en riesgo tu salud!</p>
            <h5 class="text-success">Ánimo, siempre puedes hacer algo.</h5><br>
          <% elsif (0.76..0.85).include? @calorias / @hs1 %>
            <p>Tu consumo de kcal es menor al que requieres para mantener tu peso, por lo que bajaras de peso.</p>
            <h5 class="text-success">Ánimo, siempre puedes hacer algo.</h5><br>
          <% elsif (0.86..1.09).include? @calorias / @hs1 %>
            <p>Tu consumo de kcal es suficiente para mantener tu peso actual.</p>
            <h5 class="text-success">Excelente, ¡sigue así!</h5><br>
          <% elsif (1..1.25).include? @calorias / @hs1 %>
            <p>Estás consumiendo 25% más de lo que deberías para mantener tu peso actual. Si continuas con esa alimentación subirás de peso.</p>
            <h5 class="text-success">Ánimo, siempre puedes hacer algo.</h5><br>
          <% elsif (1.26..1.5).include? @calorias / @hs1 %>
            <p>Estás consumiendo 50% más de lo que deberías para mantener tu peso actual. Si continuas con esa alimentación subirás de peso.</p>
            <h5 class="text-success">Ánimo, siempre puedes hacer algo.</h5><br>
          <% elsif (1.51..1.75).include? @calorias / @hs1 %>
            <p>Estás consumiendo 75% más de lo que deberías para mantener tu peso actual. Si continuas con esa alimentación subirás de peso.</p>
            <h5 class="text-success">Ánimo, siempre puedes hacer algo.</h5><br>
          <% elsif (1.76..2).include? @calorias / @hs1 %>
            <p>Estás consumiendo <strong>dos veces más</strong> de lo que deberías para mantener tu peso actual. Si continuas con esa alimentación subirás de peso y además tienes mayor riesgo de padecer enfermedades cardiovasculares, diabetes y cáncer.</p>
            <h5 class="text-success">Ánimo, siempre puedes hacer algo.</h5><br>
          <% elsif (2.1..3).include? @calorias / @hs1 %>
            <p>Estás consumiendo <strong>tres veces más</strong> de lo que deberías para mantener tu peso actual. Si continuas con esa alimentación subirás de peso y además tienes mayor riesgo de padecer enfermedades cardiovasculares, diabetes y cáncer.</p>
            <h5 class="text-success">Ánimo, siempre puedes hacer algo.</h5><br>
          <% elsif (3.1..4).include? @calorias / @hs1 %>
            <p>Estás consumiendo <strong>cuatro veces más</strong> de lo que deberías para mantener tu peso actual. Si continuas con esa alimentación subirás de peso y además tienes mayor riesgo de padecer enfermedades cardiovasculares, diabetes y cáncer.</p>
            <h5 class="text-success">Ánimo, siempre puedes hacer algo.</h5><br>
          <% else (4.1..5).include? @calorias / @hs1 %>
            <p>Estás consumiendo <strong>cinco veces más</strong> de lo que deberías para mantener tu peso actual. Si continuas con esa alimentación subirás de peso y además tienes mayor riesgo de padecer enfermedades cardiovasculares, diabetes y cáncer.</p>
            <h5 class="text-success">Ánimo, siempre puedes hacer algo.</h5><br>
          <% end %>
        </h3>
        <p>Las <strong>enfermedades cardiovasculares, diabetes y cáncer</strong> (no transmisibles) matan 41 millones de personas cada año. Eso equivale al <strong>71% de las muertes</strong> que se producen en el mundo.</p><br>
        <p><strong>Haz ejercicio</strong>. ¡Muy bueno para tu salud! Podrían evitarse 5 millones de muertes con un mayor nivel de actividad física en la población mundial.</p><br>
        <p><strong>Disminuye tu consumo de carne de res.</strong> Su producción es responsable de la mayor
        cantidad de emisiones de gases de efecto invernadero en la industria alimentaria. La OMS
        recomienda consumir 90g por día para ver un efecto significativo en las emisiones de carbono
        y la salud.</p><br>
        <p><strong>Limita tu consumo de grasas saturadas, azúcar y sal.</strong> Modificando tu dieta puedes reducir el riesgo de que te de obesidad, accidentes vasculares cerebrales, diabetes, cáncer de mama y de colon.</p><br>
        <p><strong>Consume productos locales y de temporada.</strong> Si se reduce el transporte de los
        alimentos se reducen los combustibles fósiles utilizados, por lo que su huella de carbono es
        menor.</p><br>
        <p><strong>Compra solo lo que necesitas</strong> para evitar el desperdicio de alimentos.</p><br>
        <h5 class="text-success">¡Tampoco mueras de hambre!</h5>
        <p>Necesitas mínimo <%= @harris_benedict %> kcal para que tu cuerpo haga las funciones básicas de tu metabolismo como respirar y dormir.</p><br>
        <p><strong>Aumenta el consumo de frutas y verduras</strong>. Mínimo 5 porciones al día reducen el
        riesgo de padecer enfermedades no transmisibles.</p><br>
        <p>Abre tu mente al consumo de fuentes alternativas de proteínas como <strong>leguminosas e insectos</strong>.</p><br>
        <p>Busca <strong>asesoría</strong> de un profesional de la salud si no sabes qué hacer. Estamos para ayudarte e informarte.</p>
        <p>NOTTAAA: Los resultados de este cuestionario pueden variar en casos específicos.</p>
        <p>Para más información....</p>
        <p>¡Muchas gracias! Con tu participación ayudas a mi aceptación en Nature.</p>
      </div>
      <div class="col-2">
        <%= image_tag "corazon.png" %>
        <%= image_tag "rinon.png" %>
        <%= image_tag "co2.png" %>
        <%= image_tag "veg.png" %>
      </div>
    </div>
  </div>
  <div class="bg-results bg-success text-dark p-2 text-center">
    <p><small>C O N T A C T O ____ huelladecarbonoysalud@gmail.com</small></p>
  </div>
</div>
